<% layout('layout/boilerplate') %>

      <div class="container" style = "margin-top: 18vh; margin-bottom: 18vh;" id="body-content">

      <div >
        <div class="m-4 text-center">
        <h3 >Hostels in IIT ISM Dhanbad</h3>
        </div>
        <% for( hostel of hostels) {%>
        <div class="card m-2">
            <div class="card-body d-flex justify-content-between">  
                <h5><%=hostel.name %></h6>
                <h6>Funds : <%=hostel.funds%></h6>
            </div>
          </div>
        <%} %>
        <div class="mt-4 mx-2">
          <h4>Remaining Funds: <%= currentUser.remFunds %>/-</h4>
        </div>
     </div>

      </div>
