<style>
    .footer{
        background-color: #54a5e0;
        position: absolute;
        bottom: 0;
        padding: 10px;
    }
</style>
<footer class="footer pb-3 w-100 fixed-bottom">
    <div class="container text-center">
        <span class=" footer_span" style="color: white;"> &copy; SAC Portal</span>
    </div>
</footer>