<% layout('layout/boilerplate') %>

      <div class="container" style = "margin-top: 18vh; margin-bottom: 18vh;" id="body-content">

      <div >
        <div class="m-4 text-center">
        <h3 >Leaves Info</h3>
        </div>
        <% for( worker of workers) {%>
        <div class="card m-2">
        
            <div class="card-body d-flex justify-content-between">  
                <h6><%=worker.name %></h6>
                <ul>
                  <% if(worker.leaves.length==0){ %>
                    <li>No leaves taken</li>
                    <% }else{ %>
                <%for( leave of worker.leaves) {%>
                        <li><%=leave.date.toDateString() %></li>
                    <%}}%>
                </ul>
            </div>
          </div>
        </div>
        <%} %>
     </div>
      