<% layout('layout/boilerplate') %>

    <div style="margin-top: 18vh;">

        <div class="m-4 text-center">
            <h3>Add Hostel</h3>
        </div>


        <form action="/chairman/hostel" method="post">

            <div class="form-group row " style="margin-left: 20vw;">
                <label for="inputHstl" class="col-sm-2 col-form-label">Hostel</label>
                <div class="col-sm-10">
                    <input type="text" name="name" style="width: 60%;" class="form-control" id="inputHstl" required>
                </div>
            </div>

            <div class="m-4 text-center">
                <button class=" m-4 btn btn-info" type="submit" >Add</button>
            </div>

        </form>

    </div>

